



@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #4e54c8;
    overflow: hidden;
    z-index: -1;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 15s linear infinite;
}




.background li:nth-child(0) {
    left: 81%;
    width: 196px;
    height: 196px;
    bottom: -196px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 34%;
    width: 153px;
    height: 153px;
    bottom: -153px;
    animation-delay: 5s;
}
.background li:nth-child(2) {
    left: 27%;
    width: 118px;
    height: 118px;
    bottom: -118px;
    animation-delay: 3s;
}
.background li:nth-child(3) {
    left: 22%;
    width: 105px;
    height: 105px;
    bottom: -105px;
    animation-delay: 2s;
}
.background li:nth-child(4) {
    left: 77%;
    width: 109px;
    height: 109px;
    bottom: -109px;
    animation-delay: 20s;
}
.background li:nth-child(5) {
    left: 24%;
    width: 101px;
    height: 101px;
    bottom: -101px;
    animation-delay: 2s;
}
.background li:nth-child(6) {
    left: 45%;
    width: 234px;
    height: 234px;
    bottom: -234px;
    animation-delay: 14s;
}
.background li:nth-child(7) {
    left: 57%;
    width: 216px;
    height: 216px;
    bottom: -216px;
    animation-delay: 11s;
}
.background li:nth-child(8) {
    left: 35%;
    width: 109px;
    height: 109px;
    bottom: -109px;
    animation-delay: 39s;
}
.background li:nth-child(9) {
    left: 54%;
    width: 142px;
    height: 142px;
    bottom: -142px;
    animation-delay: 45s;
}
.background li:nth-child(10) {
    left: 76%;
    width: 192px;
    height: 192px;
    bottom: -192px;
    animation-delay: 20s;
}
.background li:nth-child(11) {
    left: 66%;
    width: 130px;
    height: 130px;
    bottom: -130px;
    animation-delay: 43s;
}
.background li:nth-child(12) {
    left: 81%;
    width: 107px;
    height: 107px;
    bottom: -107px;
    animation-delay: 8s;
}
.background li:nth-child(13) {
    left: 61%;
    width: 201px;
    height: 201px;
    bottom: -201px;
    animation-delay: 47s;
}
.background li:nth-child(14) {
    left: 72%;
    width: 120px;
    height: 120px;
    bottom: -120px;
    animation-delay: 6s;
}
.background li:nth-child(15) {
    left: 53%;
    width: 125px;
    height: 125px;
    bottom: -125px;
    animation-delay: 31s;
}
.background li:nth-child(16) {
    left: 23%;
    width: 207px;
    height: 207px;
    bottom: -207px;
    animation-delay: 49s;
}
/* ///////////////////////////////////////////////////////////////// */

.Quotes{
    text-align: center;
    
}
h1{
    font-size: 80px;
    font-family: Impact;
}
p{
    font-size: 35px;
}
button{
    width: 250px;
    height: 80px;
    background-color: blue;
    color: white;
    /* text-align: center; */
}
button:hover{
   background-color: darkgreen;
}
